body {
  background: #060e1b;

}

.txt {
	color: white;
	text-align: center;
	font-family: 'Oswald';
	font-size: 25px;
	letter-spacing: 1px;
}


.footer_txt {
	padding-top: 70px;
	padding-bottom: 50px;
	color: white;
	text-align: center;
	font-size: 15px;
	font-family: 'Oswald', serif;
	letter-spacing: 1px;
}		

